<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="text-subtitle-1">{{ windowTitles[step].header }}</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <div class="text-subtitle-2">{{ windowTitles[step].description }}</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-window v-model="step">
          <v-window-item :value="0">
            Agent Smith is a reaction bot for the <a target="_blank" href="https://matrix.org">Matrix</a>
            communication network. It can connect to a homeserver with a given account from
            the browser and listen for posts. It then reacts to specified <i>trigger words</i>
            and reacts with an emoji or a message.
          </v-window-item>

          <v-window-item :value="1">
            <v-text-field label="Homeserver" placeholder="https://matrix-client.matrix.org" :value="config.homeserver">
            </v-text-field>

            <v-text-field label="Username" :value="config.username">
            </v-text-field>

            <v-text-field label="Password" :value="config.password">
            </v-text-field>
          </v-window-item>

          <v-window-item :value="2">
            <v-list rounded>
              <v-list-item-group v-model="matrixRoom.selected" color="primary">
                <v-list-item
                  v-for="(room, ii) in matrixRoom.rooms"
                  :key="ii"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-pound</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title v-text="room"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-window-item>

          <v-window-item :value="3">
            <v-chip
              class="ma-1"
              color="accent"
              close
              v-for="(word, ii) in triggerWords"
              :key="ii"
              @click:close="removeTriggerWord(ii);"
            >
              {{ word }}
            </v-chip>

            <v-text-field
              label="Trigger words separated by [space]"
              v-model="triggerLine"
              @input="editTriggerWord()"
            >
            </v-text-field>
          </v-window-item>

          <v-window-item :value="4">
            <v-tabs outlined v-model="reactionMethod">
              <v-tab>Emoji</v-tab>
              <v-tab>Message</v-tab>
            </v-tabs>

            <v-tabs-items v-model="reactionMethod">
              <v-tab-item>
                <VEmojiPicker class="mt-1" @select="selectEmoji">
                </VEmojiPicker>
              </v-tab-item>

              <v-tab-item>
                <v-textarea
                  class="mt-1"
                  v-model="reactionMessage"
                  outlined
                  rounded
                  no-resize
                  color="primary"
                  label="Message"
                  :hint="reactionMessageHint"
                  rows=4
                >
                </v-textarea>
              </v-tab-item>
            </v-tabs-items>
          </v-window-item>

          <v-window-item :value="5">
          </v-window-item>
        </v-window>
      </v-col>
    </v-row>

    <v-row>
      <v-col align="center">
        <v-btn
          :disabled="step < 1"
          outlined
          rounded
          color="secondary"
          @click="step--"
        >
          Back
        </v-btn>
      </v-col>

      <v-col align="center">
        <v-btn
          outlined
          rounded
          :disabled="step >= 5"
          color="primary"
          @click="step++"
        >
          Next
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VEmojiPicker from 'v-emoji-picker';

export default {
  name: 'AgentSmith',

  components: {
    VEmojiPicker,
  },

  data() {
    return {
      step: 0,
      windowTitles: [
        {
          header: 'Agent Smith',
          description: 'A Matrix reaction bot.',
        },
        {
          header: 'Account details',
          description: 'Choose the account details the bot should use:',
        },
        {
          header: 'Rooms',
          description: 'Select the room which the bot should be listening on:',
        },
        {
          header: 'Trigger words',
          description: 'Specify the words that trigger the bot:',
        },
        {
          header: 'Desired reaction',
          description: 'Select the desired reaction of the bot:',
        },
        {
          header: 'Running...',
          description: 'Agent Smith is working.',
        },
      ],
      config: {
        username: '',
        password: '',
        homeserver: '',
      },
      matrixRoom: {
        selected: undefined,
        rooms: [
          'Lounge',
          'Special topic',
        ],
      },
      triggerWords: [
        'agent',
        'smith',
      ],
      triggerLine: '',
      reactionMethod: null,
      reactionMessageHint: `
      Type $AUTHOR to reference the given post's author.
      Type $QUOTE to quote the post that is reacted to.
      `,
      reactionMessage: 'This was written by Agent Smith',
      reactionEmoji: null,
    };
  },

  methods: {
    removeTriggerWord(index) {
      this.triggerWords.splice(index, 1);
    },

    editTriggerWord() {
      const regex = /\s*(?<word>\w+)\s/;
      if (regex.test(this.triggerLine)) {
        const tw = new Set(this.triggerWords);
        tw.add(this.triggerLine.match(regex).groups.word.toLowerCase());
        this.triggerWords = Array.from(tw);
        this.triggerLine = '';
      }
    },

    selectEmoji(emoji) {
      this.reactionEmoji = emoji;
    },
  },
};
</script>
