<template>
  <v-app>
    <v-main>
      <v-row>
        <v-img class="my-2" height="300" width="300" contain src="@/assets/logo.svg">
        </v-img>
      </v-row>

      <v-row justify="center">
        <v-col cols="12" xs="12" md="8" lg="6">
          <v-slide-y-reverse-transition>
            <AgentSmith v-show="showAgent" />
          </v-slide-y-reverse-transition>
        </v-col>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import AgentSmith from './components/AgentSmith.vue';

export default {
  name: 'App',

  components: {
    AgentSmith,
  },

  mounted() {
    setTimeout(() => {
      this.showAgent = true;
    }, 300);
  },

  data() {
    return {
      showAgent: false,
    };
  },
};
</script>
